* {
}
body {
  background-color: #ce93d8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bigBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 550px;
}
#innerBox {
  width: 450px;
}
.boxes {
  margin: 10px;
}
label {
  padding: 10px 15px;
  background-color: #9c27b0;
  color: white;
}
.button {
  width: 10px;
}
#kostnad {
  padding: 10px;
  width: 78%;
}
#antal {
  padding: 10px;
  width: 80%;
}

#procent {
  width: 95%;
  padding: 10px 15px;
}

#summera {
  width: 250px;
  height: 40px;
  background-color: #9c27b0;
  color: white;
  font-size: 16px;
  margin: 20px 20px 5px 95px;
}

#summa {
  width: 242px;
  height: 40px;
  margin: 0px 20px 20px 95px;
}
#summera:hover {
  background-color: #ab47bc;
}
